{
  "extends": "airbnb",
  "rules": {
    "one-var": [0],
    "one-var-declaration-per-line": [0],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-named-as-default":[0],
    "import/no-unresolved": [0],
    "import/prefer-default-export": 0,
    "class-methods-use-this": [0],
    "max-len": [2, {"code": 120}],
    "no-negated-condition": 0,
    "prefer-destructuring": [0],
    "no-await-in-loop": [0],
    "no-console": [0]
  }
}
